<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../paper-header-panel/paper-header-panel.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-item/paper-item-body.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-material/paper-material.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-toolbar/paper-toolbar.html">
<link rel="import" href="../paper-date-picker/paper-date-picker.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<link rel="import" href="campus-discipline-class-picker.html">
<!--
`campus-discipline-for-teacher`
@demo demo/campus-discipline-for-teacher.html
-->
<dom-module id="campus-discipline-for-teacher">
    <style include="iron-flex iron-flex-alignment"></style>
    <style include="paper-date-picker-dialog-style"></style>
    <style>
    :host {
        display: block;
        position: relative;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        background: #f2f2f2;
        height: 100%;
    }
    
    :host .paper-header paper-input,
    :host paper-toolbar paper-input,
    :host campus-discipline-class-picker {
        --paper-input-container-color: #eee;
        --paper-input-container-focus-color: #fff;
        --paper-input-container-input-color: #fff;
    }
    
    :host paper-toolbar paper-icon-button {
        --paper-icon-button: {
            color: #fff;
        }
    }
    
    :host paper-item {
        color: rgba(0, 0, 0, .67);
    }
    
    :host paper-item {
        color: var(--secondary-text-color);
    }
    
    :host paper-item:hover {
        background-color: rgba(0, 0, 0, .037);
        cursor: pointer;
    }
    
    :host .ellipsis-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    :host .secondary-text-color {
        color: var(--secondary-text-color);
    }
    
    :host .paper-header {
        min-height: 64px;
        background-color: var(--primary-color);
        color: #fff;
        padding: 0 16px;
    }
    
    @media (min-width: 769px) {
        :host [main-content] {
            padding: 10px;
        }
        :host [drawer] {
            background: #f2f2f2;
        }
    }
    </style>
    <template>
        <paper-drawer-panel id="drawer" disable-edge-swipe disable-swipe right-drawer>
            <paper-header-panel drawer mode="waterfall">
                <paper-toolbar>
                    <paper-input class="flex-auto" label="[[translate._01]]" no-label-float value="{{filterString::input}}"></paper-input>
                </paper-toolbar>
                <div>
                    <template is="dom-repeat" items="[[items]]" filter="{{_filter(filterString)}}">
                        <paper-item style="border-top:1px solid #eee" target="[[item]]" on-tap="_selectItem">
                            <paper-item-body two-line>
                                <div class="layout horizontal">
                                    <div class="ellipsis-text flex">[[item.Name]]</div>
                                    <div>[[item.SeatNumber]]</div>
                                </div>
                                <div class="layout horizontal center wrap" secondary>
                                    <div style="margin-right:10px" hidden$="[[!item.MA]]">[[item.MA]] [[translate._04]]</div>
                                    <div style="margin-right:10px" hidden$="[[!item.MB]]">[[item.MB]] [[translate._05]]</div>
                                    <div style="margin-right:10px" hidden$="[[!item.MC]]">[[item.MC]] [[translate._06]]</div>
                                    <div style="margin-right:10px" hidden$="[[!item.DA]]">[[item.DA]] [[translate._07]]</div>
                                    <div style="margin-right:10px" hidden$="[[!item.DB]]">[[item.DB]] [[translate._08]]</div>
                                    <div style="margin-right:10px" hidden$="[[!item.DC]]">[[item.DC]] [[translate._09]]</div>
                                </div>
                            </paper-item-body>
                        </paper-item>
                    </template>
                </div>
            </paper-header-panel>
            <paper-header-panel main mode="waterfall">
                <div class="paper-header layout horizontal center wrap">
                    <paper-input style="flex:1 1 120px;margin-right:10px" label="[[translate._02]]" value="[[startDate]]" readonly on-tap="_showStartDateDialog"></paper-input>
                    <paper-input style="flex:1 1 120px;margin-right:10px" label="[[translate._03]]" value="[[endDate]]" readonly on-tap="_showEndDateDialog"></paper-input>
                    <campus-discipline-class-picker id="classPicker" style="flex:1 1 120px;margin-right:10px"></campus-discipline-class-picker>
                    <paper-icon-button icon="icons:search" on-tap="_search"></paper-icon-button>
                    <div class="flex-auto"></div>
                    <paper-icon-button icon="icons:list" paper-drawer-toggle></paper-icon-button>
                </div>
                <div main-content hidden$="[[hidden_detail]]">
                    <div class="secondary-text-color" style="font-size:24px;padding:12px 16px">[[selected.SeatNumber]] [[selected.Name]]</div>
                    <paper-material elevation="1" style="background:#fff">
                        <template is="dom-repeat" items="[[selected.details]]">
                            <paper-item style="border-top:1px solid #eee;padding:4px 16px" target="[[item]]">
                                <paper-item-body two-line>
                                    <div class="layout vertical">
                                        <div>[[item.OccurDate]]</div>
                                        <div style="white-space:normal">[[item.Reason]]</div>
                                        <div class="layout horizontal center">
                                            <div style="margin-right:10px" hidden$="[[!item.MA]]">[[item.MA]] [[translate._04]]</div>
                                            <div style="margin-right:10px" hidden$="[[!item.MB]]">[[item.MB]] [[translate._05]]</div>
                                            <div style="margin-right:10px" hidden$="[[!item.MC]]">[[item.MC]] [[translate._06]]</div>
                                            <div style="margin-right:10px" hidden$="[[!item.DA]]">[[item.DA]] [[translate._07]]</div>
                                            <div style="margin-right:10px" hidden$="[[!item.DB]]">[[item.DB]] [[translate._08]]</div>
                                            <div style="margin-right:10px" hidden$="[[!item.DC]]">[[item.DC]] [[translate._09]]</div>
                                        </div>
                                    </div>
                                    <div class="layout horizontal center wrap" hidden$="[[item.isMerit]]" secondary>
                                        <div style="margin-right:10px" hidden$="[[!item.ClearDate]]">銷過日期：[[item.ClearDate]]</div>
                                        <div style="margin-right:10px" hidden$="[[!item.ClearReason]]">[[item.ClearReason]]</div>
                                    </div>
                                </paper-item-body>
                            </paper-item>
                        </template>
                    </paper-material>
                </div>
            </paper-header-panel>
        </paper-drawer-panel>
        <paper-dialog modal id="startDateDialog" class="paper-date-picker-dialog" on-iron-overlay-closed="_dismissStartDateDialog">
            <paper-date-picker id="startDatePicker"></paper-date-picker>
            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button dialog-confirm>OK</paper-button>
            </div>
        </paper-dialog>
        <paper-dialog modal id="endDateDialog" class="paper-date-picker-dialog" on-iron-overlay-closed="_dismissEndDateDialog">
            <paper-date-picker id="endDatePicker"></paper-date-picker>
            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button dialog-confirm>OK</paper-button>
            </div>
        </paper-dialog>
    </template>
    <script>
    Polymer({
        is: "campus-discipline-for-teacher",

        properties: {
            /*
             * 獎懲紀錄 (zh-tw), 奖惩纪录 (zh-cn), Discipline (en-us)
             */
            title: {
                type: Object,
                readOnly: true
            }
        },

        behaviors: [Campus.TranslateBehavior, Campus.ServiceBehavior],

        ready: function() {
            this._setTitle({
                'zh-tw': '獎懲紀錄',
                'zh-cn': '奖惩纪录',
                'en-us': 'Discipline'
            });

            this.initTranslate({
                'default': 'zh-tw',
                'zh-tw': {
                    '_01': '姓名, 座號',
                    '_02': '開始日期',
                    '_03': '結束日期',
                    '_04': '大功',
                    '_05': '小功',
                    '_06': '嘉獎',
                    '_07': '大過',
                    '_08': '小過',
                    '_09': '警告'
                },
                'zh-cn': {
                    '_01': '姓名, 座号',
                    '_02': '开始日期',
                    '_03': '结束日期',
                    '_04': '大功',
                    '_05': '小功',
                    '_06': '嘉奖',
                    '_07': '大过',
                    '_08': '小过',
                    '_09': '警告'
                },
                'en-us': {
                    '_01': 'Name, Seat No.',
                    '_02': 'Start Date',
                    '_03': 'End Date',
                    '_04': '大功',
                    '_05': '小功',
                    '_06': '嘉獎',
                    '_07': '大過',
                    '_08': '小過',
                    '_09': '警告'
                }
            });

            this.$.classPicker.addEventListener('changed', function(e) {
                e.stopPropagation();

                this.set('clazz', e.detail);
            }.bind(this));

            this.set('hidden_detail', true);

            this.set('startDate', this._dateFormat(new Date(), 'YYYY/MM/DD'));
            this.set('endDate', this._dateFormat(new Date(), 'YYYY/MM/DD'));
        },

        _filter: function(value) {
            if (!value)
                return null;
            else {
                value = value.toLowerCase();
                return function(item) {
                    return (item.Name.toLowerCase().indexOf(value) !== -1 ||
                        item.SeatNumber.toLowerCase().indexOf(value) !== -1);
                };
            }
        },

        _dateFormat: function(date, format) {
            return moment(date).format(format);
        },

        _showStartDateDialog: function(e) {
            this.$.startDateDialog.toggle();
        },

        _dismissStartDateDialog: function(e) {
            if (e.detail.confirmed)
                this.set('startDate', this._dateFormat(this.$.startDatePicker.date, 'YYYY/MM/DD'));
        },

        _showEndDateDialog: function(e) {
            this.$.endDateDialog.toggle();
        },

        _dismissEndDateDialog: function(e) {
            if (e.detail.confirmed)
                this.set('endDate', this._dateFormat(this.$.endDatePicker.date, 'YYYY/MM/DD'));
        },

        _search: function(e) {
            var request = {
                contract: 'ta',
                service: 'TeacherAccess.GetStudentDiscipline',
                body: {
                    Content: {
                        Condition: {
                            StartOccurDate: this.startDate,
                            EndOccurDate: this.endDate,
                            ClassID: this.clazz.id
                        }
                    }
                }
            };

            this.generateRequest(request, function(response) {
                if (response && response.StudentDisciplineList) {
                    var items = [].concat(response.StudentDisciplineList.Student || []);
                    items.sort(function(x, y) {
                        return Math.ceil(x.SeatNumber) - Math.ceil(y.SeatNumber);
                    });

                    items.forEach(function(item) {
                        item.MA = item.MB = item.MC = item.DA = item.DB = item.DC = 0, item.details = [];
                        [].concat(item.DisciplineList.Discipline || []).forEach(function(d) {
                            if (d.Merit) {
                                item.MA += Math.ceil(d.Merit.$.A);
                                item.MB += Math.ceil(d.Merit.$.B);
                                item.MC += Math.ceil(d.Merit.$.C);
                            } else if (d.Demerit) {
                                item.DA += Math.ceil(d.Demerit.$.A);
                                item.DB += Math.ceil(d.Demerit.$.B);
                                item.DC += Math.ceil(d.Demerit.$.C);
                            }

                            item.details.push({
                                OccurDate: d.$.OccurDate,
                                Reason: d.$.Reason,
                                isMerit: d.$.MeritFlag === '獎',
                                MA: d.Merit ? d.Merit.$.A === '0' ? '' : d.Merit.$.A : '',
                                MB: d.Merit ? d.Merit.$.B === '0' ? '' : d.Merit.$.B : '',
                                MC: d.Merit ? d.Merit.$.C === '0' ? '' : d.Merit.$.C : '',
                                DA: d.Demerit ? d.Demerit.$.A === '0' ? '' : d.Demerit.$.A : '',
                                DB: d.Demerit ? d.Demerit.$.B === '0' ? '' : d.Demerit.$.B : '',
                                DC: d.Demerit ? d.Demerit.$.C === '0' ? '' : d.Demerit.$.C : '',
                                ClearDate: d.Demerit ? d.Demerit.$.ClearDate : '',
                                ClearReason: d.Demerit ? d.Demerit.$.ClearReason : ''
                            });
                        }.bind(this));
                    }.bind(this));

                    this.set('items', items);
                    this.$.drawer.openDrawer();
                } else
                    this.set('items', []);
            }.bind(this));
        },

        _selectItem: function(e) {
            var node = e.target;
            while (node.nodeName !== 'PAPER-ITEM') {
                node = node.parentNode;
            }

            this.set('selected', node.target);
            this.set('hidden_detail', false);

            this.$.drawer.closeDrawer();
        },
    });
    </script>
</dom-module>
